body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 100px;
}

.home {
  background-color: #ff7632;
  padding-top: 50px;
}
.home > p {
  margin-bottom: 40px;
}
.isi > p {
  width: 30%;
}

.project {
  background-color: #ff7632;
}

.home > img {
  border-radius: 50%;
  border: 3px solid #e9b723;
  width: 200px;
  height: 200px;
}

.navbar {
  background-color: #ffcb2e;
}

section > .container {
  margin-bottom: 50px;
}

.form {
  margin-bottom: 100px;
}

.dark-mode-div {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 20px 50px 0;
}

.color-dark {
  color: white !important;
  background-color: black !important;
}

.svg-dk {
  fill: black;
}

.card-body {
  color: black;
}

.dark-mode-div .dark-mode {
  border: 3px solid black;
  color: black;
  background-color: #e9b723;
}
.dark-mode-div .color-dark {
  border: 3px solid #e9b723;
}

.color-dark-navbar {
  background-color: white;
}

.judul {
  color: black;
}

.color-dark > .container > .row > .col > .judul {
  color: white;
}

.about > .container > .row > .col > h3 {
  padding-top: 20px;
}

.footer {
  text-align: center;
  background-color: #ff7632;
  padding: 8px 0;
}

.footer > .container {
  margin-bottom: 0;
  height: 10%;
}
